*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}
h3.zikr{
  max-width: 500px;
  font-size: 30px;
  text-align: center;
  margin: 60px auto 0;
  font-family: "Monotype Corsiva";
}
.container{
  position: relative;
  max-width: 295px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  transform: translateY(60px);
}

#countInfo{
  width: 170px;
  position: absolute;
  top: 140px;
  left: 60px;
  text-align: center;
  font-size: 70px;
  caret-color: transparent;
  border: 3px solid black;
  border-radius: 3px;
  outline: none;
  box-shadow: 0 0 2px 2px white;
}

#resetBtn{
  position: absolute;
  top: 243px;
  left: 54px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: red;
  box-shadow: 2px 0px 1px rgb(182, 178, 178);
}

#resetBtn:active{
  transform: scale(.9);
}

.valueLabel{
  position: absolute;
  top: 248px;
  left: 97px;
  font-size: 17px;
  color: white;
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
  background-color: black;
}

#colorBtn{
  position: absolute;
  top: 243px;
  left: 220px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: red;
  box-shadow: 2px 0px 1px rgb(182, 178, 178);
}

#colorBtn:active{
  transform: scale(.9);
}

#countBtn{
  position: absolute;
  top: 270px;
  left: 92px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: none;
  background-color: red;
  box-shadow: 2px 0px 2px 1px rgb(182, 178, 178);
}

#countBtn:active{
  transform: scale(.95);
}